<%- content_for :title, "New Item" -%>

<div class="p-6">
  <div class="mb-6">
    <h1 class="text-3xl font-bold text-gray-900">新しいアイテム</h1>
  </div>

  <div class="bg-white rounded-lg shadow">
    <div class="p-6">
      <%= render 'form', item: @item, button_text: 'アイテムを作成' %>
    </div>
  </div>
</div>